 html {
     scroll-behavior: smooth;

 }

 body {
     background: url("../Images/background_banniere.webp") no-repeat;
     background-color: #161a24;
     font-size: 1.2em;
     margin: 0 auto;
     width: 100%;
     margin-inline: 0%;
 }

 img {
     display: flex;
     margin: 0 auto;
     max-width: 100%;
 }

 #banniere_image {
     position: relative;
     border-radius: 10px;
     box-shadow: 5px 5px 12px black;
     margin-inline: 2.5%;
 }

 video {
     position: absolute;
     top: 0%;
     left: 16.79%;
     width: 66.5%;
     height: 66.5%;
     z-index: 1;
     mix-blend-mode: screen;

 }

 .section-widht {
     max-width: 900px;
     margin-left: auto;
     margin-right: auto;
 }

 .background-density {
     background: #22293ffa;
 }

 h1 {
     text-align: center;
     background: -webkit-linear-gradient(#ffffff 10%, #fd8700 60%);
     background-clip: text;
     -webkit-background-clip: text;
     color: #ff81269c;
     font-family: 'Oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
     font-size: 50px;
     padding: 8px;
     border-radius: 25px;
     width: 100%;
     margin-bottom: 0;

 }

 i {
     text-align: center;
     color: #388abd;
     font-family: 'Lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .h5 {
     font-size: 18px;
     margin-top: 20px;
     margin-bottom: 16px;
     text-align: center;
     color: #537a9e;
     font-family: 'Rubik', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 h4 {
     text-align: center;
     color: #388abd;
     font-family: 'Lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.342);

 }

 h2 {
     text-align: start;
     background: -webkit-linear-gradient(#ffffff 10%, #fd8700 80%);
     background-clip: text;
     -webkit-background-clip: text;
     color: #ff81269c;
     font-family: 'Oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 50px;
     text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
     padding-top: 35px;
     margin: 0;
 }

 h3 {
     text-align: left;
     color: #ff832a;
     font-family: 'Lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     text-decoration: underline;
 }

 p,
 cite,
 ul,
 ol,
 table {
     text-align: center;
     color: rgb(189, 200, 207);
     font-family: 'Lato', Verdana, Tahoma, sans-serif;
 }

 p {
     margin-left: 2%;
     margin-right: 2%;
 }

 a,
 i {
     color: #ff832a;
     transition: 0.3s;
 }

 a:hover,
 i:hover {
     color: #388abd;
 }

 .introduction

 /* placement different de la liste à puce de l'introduction */
     {
     position: relative;
     text-align: left;
     margin-left: 10%;
 }

 em {
     font-style: italic;
 }

 .flottant {
     width: auto;
     height: auto;
     margin-block: 30px;
 }

 .flottant1 {
     width: auto;
     height: auto;
     margin-top: 30px;
 }

 .flottant3 {
     width: auto;
     height: auto;
     margin-top: 30px;
 }

 .flottant2 {
     width: 40%;
     height: auto;
     margin-left: 20px;
     margin-bottom: 15px;
     min-height: 390px;
     min-width: 270px;
 }

 .matrix-img {
     margin-top: 30px;
     width: 90%;

 }

 .hype

 /* couleur pour les phrases entre guillemet */
     {
     color: #727da1;
 }


 .autreparagraphe {
     clear: both;
 }

 .article-center {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }


 /**
 * CODE MENU
 */

 .material-icons {
     font-weight: normal;
     font-style: normal;
     font-size: 24px;
     /* Preferred icon size */
     display: inline-block;
     width: 1em;
     height: 1em;
     line-height: 3;
     text-transform: none;
     letter-spacing: normal;
     word-wrap: normal;
     white-space: nowrap;
     direction: ltr;
     /* Support for all WebKit browsers. */
     vertical-align: sub;
     -webkit-font-smoothing: antialiased;
     /* Support for Safari and Chrome. */
     text-rendering: optimizeLegibility;
     /* Support for Firefox. */
     -moz-osx-font-smoothing: grayscale;
     /* Support for IE. */
     font-feature-settings: 'liga';
 }

 * {
     text-decoration: none;

 }

 .tableau a {
     color: #ff832a;
     transition: none;
 }

 .tableau2 a {
     color: #537a9e;
     transition: none;
 }

 .tableau2 a:hover {
     color: #ff832a;
     transition: none;
 }

 .tableau a:hover,
 .tableau a:focus {
     color: #388abd;
     font-weight: bold;
 }

 i {
     font-size: 30px;
     color: #ff832a;
 }

 i:hover {
     font-size: 30px;
     color: #46bbff;
     filter: drop-shadow(0 0 0.75rem rgb(43, 195, 255));
 }

 label,
 label:before,
 label:after {
     /*bloc de l'onglet*/
     position: absolute;
     top: 28px;
     left: 86%;
     width: 11.5%;
     height: 30px;
     padding-top: 10px;
     border-radius: 5%;
     border: 2px #ff832a solid;
     background-color: #303a58;
     box-shadow: rgba(0, 0, 0, 0.377) 5px 5px 8px 0px,
         rgba(0, 0, 0, 0.375) 5px 8px 8px 0px;
     transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
     z-index: 2;
 }

 label #open {
     /*parametre "SOMMAIRE" (police)*/
     display: flex;
     justify-content: center;
     align-items: center;
     color: #bdc8cf;
     font-size: 20px !important;
     cursor: pointer;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     width: 100%;
     z-index: 10;
 }

 label #close {
     opacity: 0;
     cursor: pointer;
 }

 #menu-toggle:not(:checked)+label:hover {
     box-shadow: #ff832a 0px 0px 12px 4px;
 }

 #menu {
     position: initial;
     padding: 0;
     top: 199px;
     left: 8%;
     width: 80px;
     height: 80px;
     border-radius: 50%;
     border: none;
     transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
     z-index: 100;
 }

 #menu-toggle:checked+label {
     /*bloc du menu ouvert*/
     position: absolute;
     top: 20%;
     left: 16%;
     width: 1300px;
     height: 510px;
     background-color: rgba(41, 47, 66, 0.98);
     border-radius: 3px;
     box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 8px 0px,
         rgba(0, 0, 0, 0.12) 0px 8px 8px 0px;
     transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
     z-index: 100;
     cursor: pointer;
 }

 #menu-toggle:checked+label #open {
     opacity: 0;
     pointer-events: none;
 }

 #menu-toggle:checked+label #close {
     position: absolute;
     top: -30px;
     right: 10px;
     color: #ff832a;
     font-size: 40px !important;
     opacity: 1;
 }

 #menu-toggle:checked+label+#menu {
     position: absolute;
     margin: 0;
     top: 26%;
     left: 18%;
     width: 1200px;
     height: 250px;
     border-radius: 3px;
     transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
     z-index: 200;
 }

 #menu-toggle:not(:checked)+label+#menu li {
     opacity: 0;
     position: absolute;
     top: 0;
     left: 0;
     pointer-events: none;

 }

 #menu-toggle:checked+label+#menu li {
     opacity: 1;
     margin-left: 30px;
     padding-bottom: 10px;
     transition: .2s ease .1s;
 }

 [type="checkbox"]:not(:checked),
 [type="checkbox"]:checked {
     display: none;
 }

 /* header */
 header {
     justify-content: space-between;
     align-items: flex-end;
 }

 #logo {
     display: flex;
     flex-direction: row;
     align-items: baseline;
     position: absolute;
     z-index: 300;
     top: 1.2%;
     left: 2%;
 }

 #logo img {
     width: 65px;
     height: 65px;
 }

 .logo_footer {
     margin-top: 50px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 300px;
     height: 56.81px;
 }

 #logo2 img,
 .title-end {
     position: absolute;
 }

 #logo2 img {
     left: 250px;
 }

 #bouton_retour {
     display: flex;
     flex-direction: row-reverse;
     position: fixed;
     bottom: 2%;
     right: 20px;
 }

 /* Navigation */

 nav ul {
     margin-left: 8%;
     display: flex;
     justify-content: left;
     list-style-type: none;
     margin-top: 35px;
 }

 nav li {
     margin-right: 4%;
 }

 /* Corps */

 article p {
     font-size: 1em;
 }

 /* Footer */

 footer {
     position: relative;
     border-top: 2px solid #303a58;
     padding-top: 20px;
     background-color: #22293ffa;
     z-index: 0;
     width: 100%;

 }

 .menu2 {
     display: flex;
     justify-content: center;
     padding: 0;
 }

 .menu2 li {
     margin: 10px 20px;
     /*Marge hauteur et largeur entre les blocs*/
     font-size: 0.8em;
 }

 td {
     border: 2px solid #303a58;
     width: 15%;

 }

 table {
     border-collapse: collapse;
     width: 100%;
     margin-left: 0;
     margin-right: 0;
     margin-top: 20px;
     margin-bottom: 35px;
 }

 .tableau,
 .tableau2 {
     margin: 0;
     list-style: none;
 }

 .fondation-list {
     text-align: left;
     margin-inline: 10%;
     color: #537a9e;

 }

 .displayed {
     padding-bottom: 5px;
 }


 /*****************\ ♦ Responsive design ♦ \*****************/
 @media (max-width: 1000px) {
     .displayed_tr {
         display: none;
     }

     #logo2 img {
         display: none;
     }

     p {
         margin-left: 5%;
     }
 }

 @media all and (max-width: 975px) {
     h1 {
         padding-top: 100px;
     }

     h2 {
         margin-left: 20px;

     }

     table tr {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         width: 100%;
     }

     .fondation-list {
         margin-block: 10px;
         padding: 5%;

         font-size: 14px;
     }

     td {
         width: 18%;
     }

     .h5 {
         font-size: 14px;
     }

     .tableau {
         /* menu non visible en version mobile*/
         display: none;
     }

     .title-end {
         position: static;
     }
 }

 @media all and (max-width: 768px) {
     body {
         width: auto;
     }

     h1 {
         padding-top: 70px;
     }

     h2 {
         text-align: center;

     }

     .article-center {
         display: block;
     }

     nav {

         width: auto;
         text-align: center;
         margin: 0;
     }

     nav ul {
         display: flex;
         flex-wrap: wrap;
         gap: 50px;
         justify-content: space-evenly;
         margin: 10px 0 0 0;
         padding: 30px;
     }

     nav li {
         margin: 0;
         padding: 0;
     }

     nav a {
         font-size: 1.1em;
     }

     nav i {
         color: #ffffff;
     }

     #banniere_image {
         display: none;
     }

     label {
         display: none;
     }

     section {
         margin: 0;
         flex-direction: column;
         border: none;
     }

     h1 {
         margin: 0;
         border-radius: 0px;
         width: auto;
     }

     p {
         margin-left: 5%;
         margin-right: 5%;
     }

     article {
         width: auto;
     }

     aside p:last-child {
         text-align: center;
     }

     #bouton_retour {
         right: 42.5%;
         bottom: -27px;
     }

     #logo {
         position: static;
         display: flex;
         justify-content: center;
         margin-top: 10px;

     }

     #logo img {
         width: 95px;
         height: 95px;

     }

     .logo_footer {
         margin-top: 62px;
         width: 165px;
         height: 31.25px;
     }

     .arrow {
         opacity: 60%;
         height: 55px;
         width: 55px;
     }

     .arrow:hover {
         opacity: 100%;
     }

     .flottant2 {
         float: none;
         display: block;
         margin-left: auto;
         margin-right: auto;
     }

     .flottant1,
     .flottant3 {
         margin-top: 15px;
     }
 }

 @media all and (max-width: 485px) {
     .displayed {
         /* tableau non visible en version mobile*/
         display: none;
     }

     .menu2 li {

         margin: 20px 20px;
         /*Marge hauteur et largeur entre les blocs*/
         padding-bottom: 10px;
     }

     h2 {
         margin-left: 0px;
         text-align: center;
     }

     h1 {
         margin: 0 0 60px 0;
         text-align: center;
     }

 }