 body
{
    background: url("../Images/background_banniere.webp") no-repeat;
    background-color: #161a24;
    font-size: 1.3em;
    margin: 0 auto;
    width: 100%;

}
img 
{
    display: flex;
    margin: 0 auto;
    max-width: 100%;  
}

#banniere_image
{
    border-radius: 10px;
    box-shadow: 5px 5px 12px black;
    margin-inline: 2.5%;
}

h1
{
    display: flex;
    justify-content: center;
    color: #ff832a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 15px black;
    background-color: #22293ffa;
    padding: 8px;
    box-shadow: 5px 5px 12px black;
    margin: 0% 30% 0% 30%;
    border-radius: 25px;
    padding-inline: 50px;
    width: 40%;
    
}
i{
    text-align: center;
    color: #388abd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.h5{
    font-size: 18px;
    margin-top: 69px;
    margin-bottom: 0;
    text-align: center;
   color: #388abd;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4
{
   text-align: center;
   color: #388abd;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-shadow: 5px 5px 12px rgb(20, 20, 20);
   
}
h2
{
   text-align: center;
   color: #ff832a;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   background-color: #22293ffa;
   text-shadow: 5px 5px 12px black;
   box-shadow: 5px 5px 12px black;
   padding: 8px;
   margin: 0;
}
h3
{
   text-align: left;
   color: #ff832a;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   text-decoration: underline;
}
p, cite, ul, ol, table
{
   text-align: center;
   color: rgb(189, 200, 207);
   font-family: Helvetica, Geneva, Verdana, Tahoma, sans-serif;
}
p
{
    margin-left: 2%;
    margin-right: 2%;
}

.introduction /* placement different de la liste à puce de l'introduction */
{
   position: relative;
   text-align: left;
   margin-left: 37%;
 
}

em
{
   font-style: italic;
}

.flottant
{
    float: left;
    width: auto;
    height: auto;
}

.flottant1
{
    float: right;
    width: auto;
    height: auto;
}
.flottant3
{
    float: left;
    width: auto;
    height: auto;
}
.flottant2
{
    box-shadow: 6px 6px 12px black;
    width: auto;
    height: auto;
}
.hype /* couleur pour les phrases entre guillemet */
{
    color: #727da1;
}


.autreparagraphe
{
    clear: both;
}
.test
{
    margin-top: 10%;
}
h1:hover
{
    color:#388abd;
}
h2:hover
{
    color:#388abd;
}
a:hover
{
    color: #388abd;
}
a:active
{
    color:white;
}
a:focus
{
    background-color: transparent;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/**
 * CODE MENU
 */

.material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;/* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 3;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;/* Support for all WebKit browsers. */
  vertical-align: sub;
  -webkit-font-smoothing: antialiased;/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;/* Support for IE. */
  font-feature-settings: 'liga';
}

* {
    text-decoration: none;

}
a {
    color: #ff832a;
}
a:active, a:focus {
    color: #ff832a;
    font-weight: bold;
}
i{
    font-size: 30px;
    color: #ff832a;
}
i:hover{
    font-size: 30px;
    color: #388abd;
}

label, label:before, label:after { /*bloc de l'onglet*/
    position: absolute;
    top: 28px;
    left: 86%;
    width: 11.5%;
    height: 30px;
    padding-top: 10px;
    border-radius: 5%;
    border: 2px #ff832a solid;
    background-color: #303a58;
    box-shadow: rgba(0, 0, 0, 0.377) 5px 5px 8px 0px, 
                rgba(0, 0, 0, 0.375) 5px 8px 8px 0px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 2;
}
label #open { /*parametre "SOMMAIRE" (police)*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bdc8cf;
    font-size: 20px!important;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    z-index: 10;
} 
label #close {
    opacity: 0;
    cursor: pointer;
}
#menu-toggle:not(:checked) + label:hover {
    box-shadow: #ff832a 0px 0px 12px 4px;
}

#menu {
    position: initial;
    padding: 0;
    top: 199px;
    left: 8%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}

#menu-toggle:checked + label { /*bloc du menu ouvert*/
    position: absolute;
    top: 20%;
    left: 16%;
    width: 1300px;
    height: 510px;
    background-color: rgba(41, 47, 66, 0.98);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 8px 0px, 
                rgba(0, 0, 0, 0.12) 0px 8px 8px 0px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
    cursor: pointer;
}
#menu-toggle:checked + label #open {
    opacity: 0;
    pointer-events: none;
}
#menu-toggle:checked + label #close {
    position: absolute;
    top: -30px;
    right: 10px;
    color: #ff832a;
    font-size: 40px!important;
    opacity: 1;
}

#menu-toggle:checked + label + #menu {
    position: absolute;
    margin: 0;
    top: 26%;
    left: 18%;
    width: 1200px;
    height: 250px;
    border-radius: 3px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 2;
}

#menu-toggle:not(:checked) + label + #menu li {
    opacity: 0;
    position: absolute;
    top: 0; left: 0;
    pointer-events: none;
    
}
#menu-toggle:checked + label + #menu li {
    opacity: 1;
    margin-left: 30px;
    padding-bottom: 10px;
    transition: .2s ease .1s;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked  {
    display: none;
}

/* header */
header
{
    justify-content: space-between;
    align-items: flex-end;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: absolute;
    top: 1.2%;
    left: 2%;
}

#logo img
{
    width: 65px;
    height: 65px;
}
#logo2 img
{
    margin-left: 1%;
    margin-top: 5%
}
#bouton_retour
{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 2%;
    left: 95.5%; 
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: left;
    margin-left: 8%;
    margin-top: 35px;
}

nav li
{
    margin-right: 4%;
}

/* Corps */

article p
{
    font-size: 1em;
}

/* Footer */

footer
{
    position: relative;
    border-top: 2px solid #303a58;
    background-color: #22293ffa;
}

.menu2 li
{

    position: relative;
    display: inline-flex; /*Alligner les différents blocs*/
    margin: 0 10px; /*Marge hauteur et largeur entre les blocs*/
    font-size: 0.7em;
    padding: 2px; /*Hauteur des blocs*/
    text-align: center;
}
td
{
    border: 2px solid #303a58;
    width: 15%;

}
table{
    border-collapse: collapse;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.tableau, .tableau2
{
    list-style: none;
}
.fondation-list
{
    text-align: left;
    margin-inline: 40px;
    color: #388abd;

}


/*****************\ ♦ Responsive design ♦ \*****************/

@media all and (max-width: 768px)
{
    body
    {
        width: auto;
    }
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 15px;
    
    }

    nav li
    {
        margin-right: 10%;
        padding-left: 4px;
        padding-bottom: 20px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }
    #banniere_image
    {
        display: none;
    }
    label
    {
        display: none;
    }

    section
    {
        flex-direction: column;
        border: none;
    }
    h1{
        margin: 0;
        border-radius: 0px;
        width: auto; 
    }
    p 
    {
        margin-left: 5%;
        margin-right: 5%;
    }
    article
    {
        width: auto;
    }
    aside p:last-child
    {
        text-align: center;
    }
    #bouton_retour
    {
        margin-left: -85%;
    }
    #logo{
    left: 10%;

    }
    #logo img
    {
       width: 95px;
       height: 95px;
       
    }
    .arrow{
        opacity: 60%;
        height: 55px;
        width: 55px;
    }
    .arrow:hover{
        opacity: 100%;
    }
}
@media all and (max-width: 975px)
{   
    table tr {
        display: flex; 
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .fondation-list{
        margin-block: 10px;
        padding: 5%;
      
        font-size: 14px;
    }
    td{
        width: 18%;
    }
    .h5{
        font-size: 14px;
    }
    .tableau{ /* menu non visible en version mobile*/
        display: none;
    }
    
}
@media all and (max-width: 485px)
{   
    .displayed { /* tableau non visible en version mobile*/
        display: none;
    }
}